body {
  padding: 0 100px 100px 100px;
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-color: black;
}
h1 {
  color: white;
  font-family: 'Eras Medium ITC';
}
h3 {
  color: white;
  font-family: 'Eras light ITC';
}
p {
  color: white;
  font-family: 'Eras demi ITC';
}
h2 {
  color: white;
  font-family: 'Felix Titling';
}
li {
  color: white;
  font-family: 'Century Gothic';
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: left;
}
#navigation li {
  padding: 0;
}
#navigation li a {
  display: block;
  color: white;
  text-align: left;
  padding: 5px;
  text-decoration: none;
}
#navigation li a:hover {
  background-color: #FF1493;
}
.olu {
  background-color: #FF69B4;
  color: white;
}

#title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#title h3 h1 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

img.title {
  text-align: center;
}

img.asa {
  text-align: center;
  width: 700px;
  height: 400px;
}

img.welcome {
  text-align: center;
  width: 400px;
  height: 50px;
}

#green {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img.green {
  float: right;
  width: 400px;
  height: 400px;
}